﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Music</title>
</head>
<body>
    <noscript>
        <strong>We're sorry but Music.Web.Client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="tree">
        <h3>Musicians</h3>
        <div id="tree-menu">
            <tree-menu :label="tree.label"
                       :nodes="tree.nodes"
                       :depth="0"
                       :url="tree.url"
                       ></tree-menu>
        </div>
    </div>
    <div id="separator"><p> </p></div>
    <div id="tracks">
        <h3>Tracks</h3>
        <div id="tracks-list">
            <tracks-list :tracks="tracks"></tracks-list>
        </div>
    </div>
</body>

</html>
<style>
    #tree {
        float: left;
        min-width: 300px;
    }

    #tracks {
        float: left;
    }

    #separator {
        border-radius: 2px;
        float: left;
        min-width: 5px;
        height: 95vh;
        background-color: black;
        margin: 10px;
    }
</style>