<template>
    <div class="tracks-list">
        <table>
            <tr>
                <th>Name</th>
                <th>Duration</th>
            </tr>
            <tr v-for="track in tracks"
                v-bind:key="track.id">
                <td hidden="hidden" id="id">{{track.id}}</td>
                <td>{{track.name}}</td>
                <td>{{track.duration}}</td>
                <td><img src="images/favourite.png" title="Add/remove from favourite" v-bind:class="{notFavourite: !track.isFavourite}" v-on:click="toogleFavourite(track);"/></td>
                <td><img src="images/headphones.png" title="Add/remove from listened" v-bind:class="{notListened: !track.isListened}" v-on:click="toogleListened(track);"/></td>
                <td><img src="images/like.png" title="Add/remove from liked" v-bind:class="{notLiked: track.rating != 1}" v-on:click="toogleLiked(track);"/></td>
                <td><img src="images/dislike.png" title="Add/remove from disliked" v-bind:class="{notDisliked: track.rating != 2}" v-on:click="toogleDisliked(track);"/></td>
            </tr>
        </table>
    </div>
</template>

<script>
    var notSet = 0, liked = 1, disliked = 2;
    import axios from 'axios'
    export default {
        props: ['tracks'],
        name: 'tracks-list',
        methods: {
            toogleFavourite(track) {
                track.isFavourite = !track.isFavourite;
                axios.put('https://localhost:44386/api/tracks/' + track.id + '/isFavourite/' + track.isFavourite);
            },

            toogleListened(track) {
                track.isListened = !track.isListened;
                axios.put('https://localhost:44386/api/tracks/' + track.id + '/isListened/' + track.isListened);
            },

            toogleLiked(track) {
                switch (track.rating) {
                    case liked:
                        track.rating = notSet;
                        break;
                    default:
                        track.rating = liked;
                        break;
                }
                axios.put('https://localhost:44386/api/tracks/' + track.id + '/rating/' + track.rating);
            },

            toogleDisliked(track) {
                switch (track.rating) {
                    case disliked:
                        track.rating = notSet;
                        break;
                    default:
                        track.rating = disliked;
                        break;
                }
                axios.put('https://localhost:44386/api/tracks/' + track.id + '/rating/' + track.rating);
            }
        }
    }
</script>

<style scoped>
    img{
        height: 20px;
        width: 20px;
    }

    th, td {
        text-align: center;
        min-width: 50px;
    }

    .notFavourite, .notListened, .notLiked, .notDisliked {
        opacity: 0.5;
    }
</style>