<template>
    <div class="tree-menu">
        <div :style="indent" @click="function(){toggleChildren(this); getTracks(url);}">{{ label }}</div>
        <tree-menu v-if="showChildren"
                   v-for="node in nodes"
                   v-bind:key="node.id"
                   :nodes="node.nodes"
                   :label="node.label"
                   :depth="depth + 1"
                   :url="node.url"
                    >
        </tree-menu>
    </div>
</template>
<script>
    import { tracksVue } from '../main'
    export default {
        props: ['label', 'nodes', 'depth', 'url'],
        data() {
            return {
                showChildren: false
            }
        },

        name: 'tree-menu',
        computed: {
            indent() {
                return { transform: `translate(${this.depth * 25}px)` }
            }
        },

        methods: {
            toggleChildren() {
                this.showChildren = !this.showChildren;
            },
            getTracks(url) {
                tracksVue.getTracks(url);
            }
        }
    }
</script>